---
import Card from "../../components/Card.astro";
import Tweet from "../../components/Tweet.astro";
import TweetHead from "../../components/TweetHead.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const collection = await getCollection("aprs");
    return collection.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
---

<Layout title={entry.data.title}>
    <Tweet bg={entry.data.bgImage}>
        <TweetHead />
        <h1>{entry.data.header}</h1>
        <div class="flex gap-4 my-auto">
            <Card
                crds={entry.data.cards}
                tkn1={entry.data.crd1.tkn1}
                tkr1={entry.data.crd1.tkr1}
                tkn2={entry.data.crd1.tkn2}
                tkr2={entry.data.crd1.tkr2}
                apr={entry.data.crd1.apr}
                tvl={entry.data.crd1.tvl}
            />
            {
                entry.data.cards === "twoCard" ||
                entry.data.cards === "threeCard" ? (
                    <Card
                        crds={entry.data.cards}
                        tkn1={entry.data.crd2.tkn1}
                        tkr1={entry.data.crd2.tkr1}
                        tkn2={entry.data.crd2.tkn2}
                        tkr2={entry.data.crd2.tkr2}
                        apr={entry.data.crd2.apr}
                        tvl={entry.data.crd2.tvl}
                    />
                ) : null
            }
            {
                entry.data.cards === "threeCard" && (
                    <Card
                        crds={entry.data.cards}
                        tkn1={entry.data.crd3.tkn1}
                        tkr1={entry.data.crd3.tkr1}
                        tkn2={entry.data.crd3.tkn2}
                        tkr2={entry.data.crd3.tkr2}
                        apr={entry.data.crd3.apr}
                        tvl={entry.data.crd3.tvl}
                    />
                )
            }
        </div>
    </Tweet>
</Layout>
