---
import { getCollection } from "astro:content";

const { chain } = Astro.props;

const partner = await getCollection("partnerships", ({ data }) => {
  return data.chain === chain;
});
const aprs = await getCollection("aprs", ({ data }) => {
  return data.chain === chain;
});
const pb = await getCollection("partnerbribes", ({ data }) => {
  return data.chain === chain;
});
const mb = await getCollection("matchedbribes", ({ data }) => {
  return data.chain === chain;
});
const tb = await getCollection("totalbribes", ({ data }) => {
  return data.chain === chain;
});
---

<div class="flex gap-1">
  <div class="dropdown">
    <div class="navButton">Partnerships</div>
    <ul class="dropdown-menu">
      {
        partner.map((prtnr) => (
          <li>
            <a href={"/partnerships/" + prtnr.slug}>{prtnr.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="dropdown">
    <div class="navButton">APRs</div>
    <ul class="dropdown-menu">
      {
        aprs.map((apr) => (
          <li>
            <a href={"/aprs/" + apr.slug}>{apr.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="dropdown">
    <div class="navButton">Partner Bribes</div>
    <ul class="dropdown-menu">
      {
        pb.map((pb) => (
          <li>
            <a href={"/partnerbribes/" + pb.slug}>{pb.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="dropdown">
    <div class="navButton">Matched Bribes</div>
    <ul class="dropdown-menu">
      {
        mb.map((mb) => (
          <li>
            <a href={"/matchedbribes/" + mb.slug}>{mb.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="dropdown">
    <div class="navButton">Total Bribes</div>
    <ul class="dropdown-menu">
      {
        tb.map((tb) => (
          <li>
            <a href={"/totalbribes/" + tb.slug}>{tb.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .dropdown-menu {
    @apply absolute w-full rounded-bl-md py-2 bg-lbackground/80 backdrop-blur-v hidden;
  }
  .dropdown:hover .dropdown-menu {
    @apply block;
  }
</style>
