---
const { chain } = Astro.props;
---

<div
  class="grid grid-cols-3 justify-items-center place-content-center w-full h-16 mt-auto drop-shadow-fvm"
>
  <img
    src="/assets/base.svg"
    alt="Base"
    class=`bv ${chain} vis h-8 mt-2 place-self-start`
  />
  <h5 class=`bv ${chain} vis m-auto`>base.velocimeter.xyz</h5>
  <img
    src="/assets/canto.svg"
    alt="Canto"
    class=`cv ${chain} vis h-12 place-self-start`
  />
  <h5 class=`cv ${chain} vis m-auto`>cantov3.velocimeter.xyz</h5>
  <img
    src="/assets/FantomNoBg.png"
    alt="Fantom"
    class=`fv ${chain} vis h-12 place-self-start`
  />
  <h5 class=`fv ${chain} vis m-auto`>fvm.exchange</h5>
  <img
    src="/assets/gnosis.png"
    alt="Gnosis"
    class=`gv ${chain} vis h-12 place-self-start`
  />
  <h5 class=`gv ${chain} vis m-auto`>gnosis.velocimeter.xyz</h5>
  <img
    src="/assets/mantle.svg"
    alt="Mantle"
    class=`mv ${chain} vis h-12 place-self-start`
  />
  <h5 class=`mv ${chain} vis m-auto`>mantle.velocimeter.xyz</h5>
  <img src="/assets/V.svg" alt="Velocimeter" class="h-11 place-self-end" />
</div>
